body
  background-color #f8f8fa
  font-family "Noto Sans"

#app
  display flex
  justify-content center

@import header
@import tile

.tile-list

  &__container
    align-items center
    display flex
    flex-direction column
    justify-content flex-start
    width 50vw
