panel()
  padding-bottom 2rem
  width 50vw

.site-container

  &__back-button-container
    align-items center
    display flex
    height 10vh
    justify-content center

  &__back-button
    cursor pointer
    margin-bottom 1rem

  &__bottom-container
    display flex
    height 90vh

    &__panel
      
      &--left
        panel()
        align-items center
        display flex
        justify-content flex-end
        margin-right 0.5rem

      &--right
        panel()
        margin-left 0.5rem

